@function css-max($values... ) {
    @return css-function(max, $values );
}

$maxGrid : 3;

.grid {
    display: grid;

    // AutoFills columns, max out at 3
    // use #{$variable} syntax in calc function to use variable
    grid-template-columns: repeat(auto-fill, minmax(Max(500px, calc(100% / #{$maxGrid})), 1fr));
}