.header {
  // width: 100%;
  // position: fixed;
  width: 75%;
  margin: 0 auto;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  // padding: 3%;
  // overflow: hidden;
  margin: 0 auto;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    // align-items: baseline;
  }

  li {
    margin-left: 1.5rem;
  }

  span {
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    // color: #fff;
    transition: all ease-in-out 0.4s;

    // transition: border-bottom .25s ease-in-out;
    &:hover,
    &:active,
    &.active {
      color: #fcb8d2;
      // border-bottom: 3px solid white;
    }

    &:after {
      transition: all ease-in-out 0.2s;
      background: white;
      content: "";
      display: block;
      height: 2px;
      width: 0;
    }

    &:hover:after {
      width: 100%;
    }
  }
}


.dropdown {

  // position: relative;
  // display: inline-block;
  // float: left;
  // overflow: hidden;

  & span {
    // font-size: 16px;
    border: none;
    outline: none;
    // color: white;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
  }

  .dropdownContent {
    display: none;
    transition: display ease-in-out 1s;
    position: absolute;
    overflow: visible;

    background-color: #f9f9f9;
    min-width: 160px;
    // min-height: 100%;
    // height: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;

    & span {

      /* Links inside the dropdown */
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;

      &:hover {
        background-color: #ddd;

      }
    }
  }


  &:hover .dropdownContent {
    display: block;
  }
}

@media screen and (max-width: 790px) {
  .header {
    display: none;
  }
}