.main {
    min-height: 1800px;
    width: 95%;
    max-width: 1220px;
    // border: 1px solid black;
    box-shadow: 1px 3px 10px 0px slategray;
    margin: 0 auto 100px auto;
    
    form {
        position: relative;
        min-height: 0;
        height: 0;
        transition: .5s ease-in;
        overflow: hidden;
        border-bottom: .1px solid rgba(0, 0, 0, 0.192);
        margin: 0 2em;
        
        label {
            font-weight: 400;
            font-size: 1.3em;
        }
        
        .name, .email, .title, .review {
            display: flex;
            flex-direction: column;
            gap: .25em;
            margin-block: 1.5em;
            margin-inline: 25%;
            input, textarea{
                border: 1px solid rgba(128, 128, 128, 0.527);
                padding-inline-start: .25em;
                margin: 0;
                height: 3em;
                font-size: Clamp(.8em, 4vw, 1.1em);
                font-weight: 500;
            }
        }
        
        .review textarea {
            height: 20rem;
            caret-color: red;
            padding: .5em;
            caret-shape: underscore;
            &::placeholder{
                margin: 0;
                padding: 0;
            }
            &::selection{
                background-color: red;
            }
        }
    }
    
    form.active {
        // transition: .5s ease-in;
        // min-height: 500px;
        // height: 700px;
        // border-bottom: 1px solid black;
    }

}



.test {
    border-bottom: 1px solid black;
    min-height: 250px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    // justify-content: center, space-between;
    padding: 2.5em;
    margin: 0 2em;
    
    .button {
        button{
            width: 300px;
            height: 54px;
            background: none;
            border: 2px solid #000;
            color: #000;
            font-size: 18px;
            cursor: pointer;
            // margin: 12px 0;
            position: relative;
        }
    }
    
    .rating {
        display: flex;
        // justify-content: space-around;
        gap: 3.5em;

        
        .ratingHeader{

            display: flex;
            flex-direction: column;
            gap: 1em;
            h2{
                margin: 0;
                padding: 0;
            }
            
            
        }
        .ratingDisplay{
            font-size: Clamp(.5em, 5vw, 1.25em);
            height: max-content;

            @media screen and (min-width: 1200px) {
                
                border-right: 3px solid gray;
                border-top-right-radius: 5%;
                border-bottom-right-radius: 5%;
                padding-right: 3em;
    
                border-left: 3px solid gray;
                border-top-left-radius: 5%;
                border-bottom-left-radius: 5%;
                padding-left: 3em;
            }
            .ratingValue {
                display: flex;
                gap: .5em;
            }
        }
    }
}


@media screen and (max-width: 1270px) {
    .test{
        display: flex;
        flex-direction: column;
        gap: 3.5em;
        
        .rating{
            display: flex;
            flex-direction: column;
            // gap: 0;

            .ratingHeader{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                text-align: center;
                gap: 0;
            }
            
            .ratingDisplay{

                @media screen and (max-width: 600px) {
                    font-size: .8em;
                    span{
                        position: relative;
                        bottom: 18%;
                    }
                }
                
                width: Min(100%, 500px);
            }
        }
    }
}

.reviewer{
    display: flex;
    flex-direction: column;
    gap: .25em;
    // margin: 0 auto;
    // margin: auto;
    // padding: .5em 0 0 2em;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 2em 0;
    margin: 0 2em;
    .reviewRating{
        display: flex;
        align-items: center;
        gap: .5em;

        .date{
            position: relative;
            top: 2px;
            font-size: 18px;
            font-weight: 600;
        }
    }

    .reviewName{
        display: flex;
        align-items: center;
        gap: .5em;

        .verified{
            border: 1px solid black;
            padding: .25em;
            color: white;
            background-color: black;
            font-weight: 600;
        }
        
        .name{
            font-weight: 700;
            font-size: 18px;
            
        }

    }

    .reviewDescription{
        h2{
            margin: 0;
            padding: 0;
        }
        p{
            margin: 0 auto;
            padding: 0;
            width: Min(80%, 80ch);
            font-size: larger;
        }
        display: flex;
        flex-direction: column;
        gap: .5em;
    }
}