// https://www.youtube.com/watch?v=o_hRhTZORNY

@mixin fade_in($speed) {
  z-index: 100;
  position: relative;
  top: 20px;
  opacity: 0;
  transition: $speed ease-in;

  &.appear {
    top: 0;
    opacity: 1;
  }
}

.main {
  overflow: hidden;
  padding-block: 2rem;
}

.banner {
  height: 100vw;
  @media screen and (max-width: 790px) {
    height: 110vh;
  }
  width: 100%;
  position: relative;
  overflow: hidden;
  img:first-of-type,
  img:last-of-type {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    animation-delay: 250ms;
  }

  img:first-of-type {
    animation: slide1 6s linear infinite,
      zoom-in 3s cubic-bezier(0.01, 0.62, 1, 0.82) infinite;
  }
  img:last-of-type {
    animation: slide2 6s linear infinite,
      zoom-in 3s cubic-bezier(0.01, 0.62, 1, 0.82) infinite;
  }

  @keyframes zoom-in {
    0% {
      opacity: 0;
      width: 100%;
    }

    5% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      width: 120%;
    }
  }

  .text_box {
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      text-align: center;
      margin: 0;
      font-size: Clamp(30px, 8vw, 60px);
      display: flex;
      width: Min(90vw, 10em);
    }

    p {
      font-size: Clamp(18px, 8vw, 25px);
      text-align: center;
      width: Min(85vw, 60ch);
      line-height: 40px;
    }
  }
}

.text_box {
  h1.fade__in {
    @include fade_in(350ms);
  }

  p.fade__in {
    @include fade_in(450ms);
  }

  button.fade__in {
    @include fade_in(550ms);
  }
}

@keyframes slide1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: visible;
  }

  50% {
    visibility: visible;
  }

  75% {
    visibility: hidden;
  }

  100% {
    visibility: hidden;
  }
}

@keyframes slide2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  75% {
    visibility: visible;
  }

  100% {
    visibility: visible;
  }
}
